
html, body {
  padding: 0;
  margin: 0;
  background-color: ghostwhite;
  margin: 0;
}

.topbar {
  position: fixed;
  top:0;
  z-index: 10;
  background-color:rgba(255, 255, 255, 0);
}

.axis path, .axis line {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges
}

.axis text {
  font-size: 11px
}

.bar {
  fill: steelblue;
  font: 10px sans-serif;
  font-weight: normal;
}

.bar:hover {
  fill: grey;
}

#chart {
  width: 50%;
  height: 100%;
  position: absolute;
}

#map {
  width: 50%;
  height: 100%;
  position: absolute;
}

.points {
  stroke-width: 1px;
}

.button {
  margin-left: 20px;
  margin-top: 20px;
}

.zips {
  stroke: #e5e5e5;
  stroke-width: 1px;
  fill: lightslategray;
}

.hidden {
  display: none;
}

.tooltip {
  background-color: darkslategrey;
  padding: 7px;
  font: 13px Saira;
  color: white;
  border-radius: 3px;
  opacity: 0.9;
  position: absolute;
}

.fa-info {
  margin-left: 100px;
  margin-top: 20px;
}
